<section class="about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="title-breadcrumb mb-3">About Us</h2>
                <p class="inner-page-para px-lg-5">Feel free to learn more about our team and company on this page. We are always happy to help you!</p>
            </div>
        </div>
    </div>
</section>

<!-- ---- section 1 -->
<section class="content-6" id="skills">
    <div class="content-6-mian py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="content-info-in row">
                <div class="content-gd col-lg-6 pe-lg-5">
                    <img src="assets/image/about4.jpg" alt="" class="img-fluid">
                </div>
                <div class="content-gd col-lg-6 mt-lg-0 mt-5 align-self ps-lg-5">
                    <h6 class="title-small mb-1">About Us</h6>
                    <h3 class="title-main mb-lg-4 mb-3">A Few words about our vision</h3>
                    <p class="my-4 pe-lg-5">MSK ASIA is an IT services and  consulting solutions organization that has individuals serving IT and consulting industries with a total experience of 30+ years. We believe in transforming ideas and knowledge to build better outcomes.</p>
                    <h5 class="subtitle mb-md-5 mb-4">We have 30+ years of experience. We provide the best services for your
                        growing company</h5>
                    <!-- <div class="progress-info info1">
                        <h6 class="progress-tittle">Marketing <span class="">80%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info3">
                        <h6 class="progress-tittle">Development <span class="">75%</span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info4 mb-0">
                        <h6 class="progress-tittle">Analytics <span class="">85%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 85%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 2 -->
<section class="cwp py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row cwp23-content align-items-center">

            <div class="col-lg-6">
                <h5 class="title-small mb-3"> Web design and digital marketing </h5>
                <h3 class="title-main">Our Expertise</h3>

                <div class="cwp23-text-cols mt-lg-5 mt-4">

                    <div class="column">
                        <span><span class="counter mb-0">1200</span>+</span>
                        <h4>Web Development</h4>
                        <p>We help our clients increase profits by increasing their visibility online.</p>
                    </div>

                    <div class="column">
                        <span><span class="counter mb-0">13</span>k+</span>
                        <h4>Web marketing </h4>
                        <p>We help our clients increase profits by increasing their visibility online. </p>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 cwp23-text align-self mt-lg-0 mt-md-5 mt-4 pr-md-3 pr-2">
                <img src="assets/image/about3.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- Section 3 -->
<div class="team-area py-5" id="people">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="text-center">
            <h6 class="title-small"> Our People</h6>
            <h3 class="title-main"> Meet Our Team</h3>
        </div>
        <div class="row mt-lg-5 mt-4">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single-team">
                    <div class="img-area">
                        <img src="assets/image/Men1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <ul class="list-inline">
                                <li><a href="#url"><i class="bi bi-linkedin"></i></a></li>
                                <li><a href="#url"><i class="bi bi-instagram"></i></a></li>
                                <li><a href="#url"><i class="bi bi-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="img-text">
                        <h4>Maifuz Alam Shaikh</h4>
                        <p>CEO & Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 mt-sm-0 mt-5">
                <div class="single-team">
                    <div class="img-area">
                        <img src="assets/image/Men2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <ul class="list-inline">
                                <li><a href="#url"><i class="bi bi-linkedin"></i></a></li>
                                <li><a href="#url"><i class="bi bi-instagram"></i></a></li>
                                <li><a href="#url"><i class="bi bi-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="img-text">
                        <h4>Khalil Shaikh</h4>
                        <p>CO Founder and Managing Director</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 mt-lg-0 mt-5">
                <div class="single-team">
                    <div class="img-area">
                        <img src="assets/image/Women3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <ul class="list-inline">
                                <li><a href="#url"><i class="bi bi-linkedin"></i></a></li>
                                <li><a href="#url"><i class="bi bi-instagram"></i></a></li>
                                <li><a href="#url"><i class="bi bi-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="img-text">
                        <h4>Maria Khan</h4>
                        <p>Head of Human Resource</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 mt-lg-0 mt-5">
                <div class="single-team">
                    <div class="img-area">
                        <img src="assets/image/Women4.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <ul class="list-inline">
                                <li><a href="#url"><i class="bi bi-linkedin"></i></a></li>
                                <li><a href="#url"><i class="bi bi-instagram"></i></a></li>
                                <li><a href="#url"><i class="bi bi-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="img-text">
                        <h4>Sofiya Zariwala</h4>
                        <p>Project Leader</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

