<section class="about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="title-breadcrumb mb-3">Our Services</h2>
                <p class="inner-page-para px-lg-5">Feel free to learn more about our team and company on this page. We are always happy to help you!</p>
            </div>
        </div>
    </div>
</section>

<!-- ...... -->
<div class="service-section py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 item">
                <div class="card">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="services.html">
                            <img class="d-block img-fluid" src="assets/image/s1.jpg" alt="card-image">
                        </a>
                    </div>
                    <div class="card-body service-details">
                        <a href="services.html" class="service-heading">Quality Control System</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4 pt-sm-0 pt-2">
                <div class="card">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="services.html">
                            <img class="d-block img-fluid" src="assets/image/s2.jpg" alt="card-image">
                        </a>
                    </div>
                    <div class="card-body service-details">
                        <a href="services.html" class="service-heading">Professional Achievement</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 pt-lg-0 pt-2">
                <div class="card">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="services.html">
                            <img class="d-block img-fluid" src="assets/image/s3.jpg" alt="card-image">
                        </a>
                    </div>
                    <div class="card-body service-details">
                        <a href="services.html" class="service-heading">Mobile Apps &amp; Web Design</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 pt-lg-0 pt-2">
                <div class="card">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="services.html">
                            <img class="d-block img-fluid" src="assets/image/s4.jpg" alt="card-image">
                        </a>
                    </div>
                    <div class="card-body service-details">
                        <a href="services.html" class="service-heading">Social Media &amp; Strategy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ..... -->
<section class="about-section py-5">
    <div class="container py-lg-5 py-4">
        <div class="title-heading mx-auto text-center mb-5 pb-xl-4">
            <h3 class="title-main">We run all kinds of IT services
                that vow your success</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="about-single">
                    <div class="about-icon">
                        <i class="bi bi-android"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Software Development</a></h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit accusa ntium dolor emque
                            laudan.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="about-single">
                    <div class="about-icon">
                        <i class="bi bi-globe"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Web Marketing</a></h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit accusa ntium dolor emque
                            laudan.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-3">
                <div class="about-single">
                    <div class="about-icon">
                        <i class="bi bi-clipboard-data"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Data analytic</a></h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit accusa ntium dolor emque
                            laudan.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="about-single">
                    <div class="about-icon">
                        <i class="bi bi-ubuntu"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Unlimited facility</a></h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit accusa ntium dolor emque
                            laudan.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="about-single">
                    <div class="about-icon">
                        <i class="bi bi-phone"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Responsive design</a></h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit accusa ntium dolor emque
                            laudan.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="about-single">
                    <div class="about-icon">
                        <i class="bi bi-layout-wtf"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">IT Consulting & Services</a></h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit accusa ntium dolor emque
                            laudan.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="about-single">
                    <div class="about-icon">
                        <i class="bi bi-menu-button-wide-fill"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Hardware Setup</a></h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit accusa ntium dolor emque
                            laudan.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="about-single">
                    <div class="about-icon">
                        <i class="bi bi-wrench-adjustable-circle"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Annual Maintenance Service</a></h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit accusa ntium dolor emque
                            laudan.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="about-single">
                    <div class="about-icon">
                        <i class="bi bi-headset"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Software Consulting</a></h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit accusa ntium dolor emque
                            laudan.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>