/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap";
@import "variable.scss";
@import "responsive.scss";
// .......
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

// --------

// *, ::after, ::before {
//     box-sizing: border-box;
// }

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: url(./assets/image/map-bg.png);
    background-position: center;
    background-size: contain;
}

img {
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 128, 0.31);
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #404044;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    
    &:hover {
        color: $primary-color;
    }
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-secondary {
    color: $white-color;
    background-color: #060660;
    border-color: #060660;
}

.transparent-btn {
    color: $white-color;
    border: 1px solid #dadada;
    background: rgba(255, 255, 255, 0.15);
    
    &:hover {
        color: #404044;
        background: $white-color;
    }
}

.title-small {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    line-height: 28px;
    color: #707070;
    position: relative;
    letter-spacing: 1px;
}

.title-main, .title-main.two {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    text-transform: capitalize;
    color: #404044;
}

.subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Montserrat', sans-serif;
}

.btn-style {
    padding: 15px 45px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    transition: 0.3s ease-in;
    border-radius: 6px;
}

.btn-secondary:hover {
    color: $white-color;
    background-color: #02a55f;
    border-color: #02a55f;
}

.align-self {
    align-self: center;
}

.justify-content-center {
    justify-content: center !important;
}

.bi-facebook {
    color: #3b5998;
}
.bi-instagram {
    color: #e1306c;
}
.bi-linkedin {
    color: #0077b5;
}
.bi-youtube {
    color: #ff0000;
}
.bi-whatsapp {
    color: #00e676;
}

// @media (prefers-color-scheme: dark) {
//     .bi-whatsapp {
//         color: #fff;
//     }
// }